@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --utk-logo--smokey: #4b4b4b;
  --utk-logo--orange: #ff8200;
  --utk-logo--white: #fff;
  --utk-light-gray: #f6f6f6;

  --utk-blue--accent: #1c3644;
  --utk-light-steel-blue--accent: #424C70;
  --utk-light-blue--accent: #94A9CC;
  --utk-white--accent: #cecfd9;
  --utk-link: #006c93;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 1.125rem; 
}


